/*responsive for extra small-xsm*/
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* header section  */
.header .header-container{
    padding: 23px 0;
    max-width: 1200px;
}
.header .header-start{
    padding: 5px 0 5px 40px;
}
.header .header-end{
    padding: 10px 0 0 0;
}
.header .header-end a{
    padding: 0 0 0 64%;
    text-decoration: none;
    color: #717171;
    font-size: 13px;
    font-family: 'Raleway',Arial,Helvetica,sans-serif;
    text-transform: capitalize;
    line-height: 45px;
}
.header .header-end .header-end-col{
    position: relative;
    padding-left: 0;
}
.header .header-end .input{
    border: 1px solid #e5e5e5;
    border-radius: 23px;
    height: 40px;
    width: 250px;
    font-size: 13px;
    font-family: 'Raleway';
    padding: 0 40px 0 15px;
    font-weight: 500;
    line-height: 40px;
    outline: none;
}
.header .header-end .input::placeholder{
    color: #999;
    font-style: italic;
}
.header .header-end button{
    outline: none;
    border: none;
    position: absolute;
    left: 110%;
    top: 15%;
    background: none;
    font-size: 18px;
    color: #333;
    opacity: 60%;
}
.header .header-end .cart button{
    font-size: 40px;
    position: absolute;
    left: 90%;
    top: 4%;
    color: #777272;
}
.header .header-bottom .header-bottom-container{
    border-bottom: 1px solid #e5e5e5;
}
.header .header-bottom ul{
    padding-left: 12px;
}
.header .header-bottom li{
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}
.header .header-bottom a{
    color: black;
    padding: 30px 20px 20px;
}
.header .header-bottom ul li::after{
    content: " ";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #62D2A2;
    opacity: 0;
    transition: 0.5s ease;
}
.header .header-bottom ul li a:hover{
    color: #62D2A2;
}
.header .header-bottom li:hover::after{
    opacity: 1;
}
.header .header-bottom li .active {
    color: #62D2A2;
}
/*hero section*/
.hero{
background-color: #fff;
}
.hero .container{
    max-width: 1200px;
    padding-top: 50px;
}
.hero .left-side{
    margin: 0 30px;
}
.hero .left-side h1{
    font-family: "Raleway",sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
}
.hero .left-side p{
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #666666;
}
.hero .left-side .btn{
    padding: 8px 25px 5px;
    display: inline-block;
    font-size: 14px;
    color:#62D2A2;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    border: 1px solid #62D2A2;
    text-transform: uppercase;
    outline: none;
}
.hero .left-side .btn:hover{
    background-color: #62D2A2;
    color: #fff;
}
.hero .right-side .img{
    max-width: 75%;
}
/*special section*/
.special{
    margin: 12px;
}
.special .container{
    max-width: 1200px;
    background-color: #62D2A2;
    border: 1px solid #62D2A2;
    border-radius: 10px;
    padding: 0px 20px 0px 25px;
    margin: 30px auto;
}
.special #col1{
    border-bottom: 1px solid white;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}
.special #col2{
    border-bottom: 1px solid white;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}
.special #col3{
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}
.special .row i{
    position: relative;
    font-size: 37px;
    color: #A5E5CA;
}
/*.special .row i::after{
    content: " ";
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}
.special .row i:after:hover{
    visibility: visible;
    transform: rotate(360deg);
}*/
.special .row h1{
    font-family: Raleway,Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}
.special .row p{
    font-family: Raleway,sans-serif;
    color: #A5E5CA;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
}
/*popular section*/
.popular-categories .container{
    max-width: 1200px;
    padding: 0;
    margin: 50px auto;
}
.popular-categories .section-title{
    text-align: center;
    margin: 10px auto;
}
.popular-categories .section-title h1{
    font-size: 26px;
    font-family: Berkshire Swash, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.50;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}
.popular-categories .section-title .title-bar{
    width: 66px;
    background: #62d2a2;
    height: 2px;
    margin: 0 auto;
}
.popular-categories .section-content{
    margin: 30px auto;
}
.popular-categories .section-content .title{
    text-align: center;
    padding-top: 30px;
}
.popular-categories .section-content .title h1{
    font-size: 25px;
    color: #fff;
    font-family: Berkshire Swash, Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.popular-categories .section-content .title p{
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    line-height: 24px;
}
.popular-categories .section-content .title span{
    font-size: 18px;
    font-family: 'Raleway';
    color: #fff;
    font-weight: 500;
    font-style: italic;
    line-height: 24px;
    text-transform: capitalize;
    padding-left: 6px;
}
.popular-categories .section-content #height{
    height: 370px;
    position: relative;
}
.popular-categories .section-content .col{
    position: relative;
}
.popular-categories .section-content #height:hover:after{
    opacity: 1;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    transition: 0.5s ease;
    visibility: visible;
}
.popular-categories .section-content #height::after{
    content: "";
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #fff;
    border-radius: 20px;
    position: absolute;
    visibility: hidden;
}
.popular-categories .section-content .vegetables{
    background-color: #c3ead5;
    border: 1px solid #c3ead5;
    border-radius: 20px;
}
.popular-categories .section-content .fruits{
    background-color: #f3cd97;
    border: 1px solid #f3cd97;
    border-radius: 20px;
}
.popular-categories .section-content .juice{
    background-color: #95e0d2;
    border: 1px solid #95e0d2;
    border-radius: 20px;
}
.popular-categories .section-content .meats{
    background-color: #fa8383;
    border: 1px solid #fa8383;
    border-radius: 20px;
}
.popular-categories .section-content .img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
/*product section*/
.products{
    background-color: #fff;
}
.products .container{
    max-width: 1200px;
    padding: 0;
}
.products .section-title{
    text-align: center;
    margin: 10px auto;
}
.products .section-title h1{
    font-size: 26px;
    font-family: Berkshire Swash, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.50;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}
.products .section-title .title-bar{
    width: 66px;
    background: #62d2a2;
    height: 2px;
    margin: 0 auto;
}
.products .product-menu{
    margin: 30px auto;
    text-align: center;
}
.products .product-menu span{
    color: #333;
    font-size: 15px;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.products .product-menu span:hover{
    color: #62d2a2;
    border-bottom: 1px solid #62d2a2;
    transition: 0.5s ease-in;
}
.products .section-content .row{
    margin: 10px 0 50px;
}
.products .mango{
    border: 1px solid #E5E5E5;
}
.products .ratings{
    text-align: center;
    margin: 15px 0px 0px 0px;
}
.products .ratings span{
    color: #E98B50;
    font-size: 11px;
}
.products .section-content h1{
    text-align: center;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 400;
    font-family: "Lora", serif;
    margin: 9px 0 15px 0;
}
.products .section-content .title-bar{
    width: 40px;
    background: #E5E5E5;
    height: 2px;
    margin: 0 auto;
}
.products .section-content p{
    text-align: center;
    color: #62d2a2;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    font-family: "Lora", serif;
    padding: 10px 0 30px 0;
}
.products .section-content .icon{
    text-align: center;
    margin: -20px;
}
.products .section-content #i{
    color: #62D2A2;
    border: 1px solid #62D2A2;
    border-radius: 20px;
    display: inline-block;
    padding: 12px;
    background-color: #fff;
}
/*responsive for small-sm*/
@media (min-width:576px){

}
/*responsive for medium-md*/
@media (min-width:768px){

}/*responsive for large-lg*/
@media (min-width:992px){
.special #col{
    border-bottom: none;
    border-right: 1px solid white;
    height: 20px;
}
}/*responsive for extra large-xl*/
@media (min-width:1200px){
.special .row i{
    font-size: 50px;
}
}
/*responsive for extra extra large-xxl*/
@media (min-width:1400px){
.special .container{
    width: 83%;
}
}