/*responsive for extra small-xsm*/
/*hero section*/
.hero{
background-color: #fff;
}
.hero .container{
    max-width: 1200px;
    margin: 100px auto;
}
.hero .left-side{
    margin: 0 30px;
}
.hero .left-side h1{
    font-family: "Raleway",sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
}
.hero .left-side p{
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #666666;
}
.hero .left-side .btn{
    padding: 8px 25px 5px;
    display: inline-block;
    font-size: 14px;
    color:#62D2A2;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    border: 1px solid #62D2A2;
    text-transform: uppercase;
    outline: none;
}
.hero .left-side .btn:hover{
    background-color: #62D2A2;
    color: #fff;
}
.hero .right-side .img{
    max-width: 93%;
}
/*special section*/
.special{
    margin: 12px;
}
.special .container{
    max-width: 1200px;
    background-color: #62D2A2;
    border: 1px solid #62D2A2;
    border-radius: 10px;
    padding: 0px 20px 0px 25px;
    margin: 30px auto;
}
.special #col{
    border-bottom: 1px solid white;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}
.special #col1{
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}
.special .row i{
    font-size: 37px;
    color: #A5E5CA;
}
.special .row h1{
    font-family: Raleway,Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}
.special .row p{
    font-family: Raleway,sans-serif;
    color: #A5E5CA;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
}
/*popular section*/
.popular-categories .container{
    max-width: 1200px;
    padding: 0;
    margin: 50px auto;
}
.popular-categories .section-title{
    text-align: center;
    margin: 10px auto;
}
.popular-categories .section-title h1{
    font-size: 26px;
    font-family: Berkshire Swash, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.50;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}
.popular-categories .section-title .title-bar{
    width: 66px;
    background: #62d2a2;
    height: 2px;
    margin: 0 auto;
}
.popular-categories .section-content{
    margin: 30px auto;
}
.popular-categories .section-content .title{
    text-align: center;
    padding-top: 30px;
}
.popular-categories .section-content .title h1{
    font-size: 25px;
    color: #fff;
    font-family: Berkshire Swash, Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.popular-categories .section-content .title p{
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    line-height: 24px;
}
.popular-categories .section-content .title span{
    font-size: 18px;
    font-family: 'Raleway';
    color: #fff;
    font-weight: 500;
    font-style: italic;
    line-height: 24px;
    text-transform: capitalize;
    padding-left: 6px;
}
.popular-categories .section-content #height{
    height: 370px;
    position: relative;
}
.popular-categories .section-content .col{
    position: relative;
}
.popular-categories .section-content #height:hover:after{
    opacity: 1;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    transition: 0.5s ease;
    visibility: visible;
}
.popular-categories .section-content #height::after{
    content: "";
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #fff;
    border-radius: 20px;
    position: absolute;
    visibility: hidden;
}
.popular-categories .section-content .vegetables{
    background-color: #c3ead5;
    border: 1px solid #c3ead5;
    border-radius: 20px;
}
.popular-categories .section-content .fruits{
    background-color: #f3cd97;
    border: 1px solid #f3cd97;
    border-radius: 20px;
}
.popular-categories .section-content .juice{
    background-color: #95e0d2;
    border: 1px solid #95e0d2;
    border-radius: 20px;
}
.popular-categories .section-content .meats{
    background-color: #fa8383;
    border: 1px solid #fa8383;
    border-radius: 20px;
}
.popular-categories .section-content .img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
/*responsive for small-sm*/
@media (min-width:576px){

}
/*responsive for medium-md*/
@media (min-width:768px){

}/*responsive for large-lg*/
@media (min-width:992px){
.special #col{
    border-bottom: none;
    border-right: 1px solid white;
    height: 20px;
}
}/*responsive for extra large-xl*/
@media (min-width:1200px){
.special .row i{
    font-size: 50px;
}
}
/*responsive for extra extra large-xxl*/
@media (min-width:1400px){
.special .container{
    width: 83%;
}
}